<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Admin Page</title>
</head>
<body>
<h1>Welcome, <span th:text="${user.username}">User</span>!</h1>

<p>This is your personal page.</p>

<h2>Your Details:</h2>
<ul>
    <li>Username: <span th:text="${user.username}">username</span></li>

</ul>


<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

<a th:href="@{/users}">
    <button type="button">Go to Users List</button>
</a>

</body>
</html>